@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Welcome back!</p>
    </Authorized>
    <NotAuthorized>
        <p>Welcome to Lyra</p>
    </NotAuthorized>
</AuthorizeView>